[data-is-scrolling-up='false'][data-is-top='false'][data-has-scroll='true'] .header {
    opacity: 0;
}

[data-is-scrolling-up='false'][data-is-top='false'][data-has-scroll='true'] .open {
    opacity: 1;
}

/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.noScroll{
    height:100%;
    margin:0;
    overflow:hidden;
}
